.app {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #0D0052;
  height: 100vh;
  width:100vw;
}
.logo {
  width:51%;
  height:68%;
}
.logoWrapper {
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer { 
  padding: 1rem;
  color:white;
  font-family: 'Red Hat Display', sans-serif;
}